mixin op-utility-links

  ul.op-utility-links.uk-margin-large-bottom
    li
      a(href="https://myemail.det.nsw.edu.au/owa/") Staff email
    li
      a(href="http://staff-googleapps.education.nsw.gov.au/") Google Apps
    li
      a(href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&whr=det.nsw.edu.au&wreply=https:%2f%2fportal.microsoftonline.com%2fdefault.aspx") Office 365
    li
      a(href="https://www.yammer.com/det.nsw.edu.au/") Yammer
