//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index - Outage Pages"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 Outage Pages

          ul
            li
              a(href="unscheduled-outage.html") Unschedule outage

            li
              a(href="scheduled-outage.html") Schedule outage

  </body>
