//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Temporarily unavailable"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

    +global_header

    span#content(tabindex=-1)

    main.gef-main.op-main

      div.uk-container.uk-container-center

        div.uk-grid.uk-grid-collapse

          article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.op-container

            div.uk-block.uk-block-default.op-block.uk-text-center
              .uk-container
                h1.uk-h2.uk-margin-large-top Temporarily unavailable

                // Insert scheduled outage event information below
                p.uk-margin-large-bottom
                  | We're working to restore normal service. Please try again later. We apologise for the inconvenience and thank you for your patience.

                hr

                p
                 | If you continue to see this page please contact our IT service desk EDConnect on 1300 32 32 32 or email&nbsp;
                 a(href='mailto:itinfraservmiddleware@det.nsw.edu.au;itweb-admin@det.nsw.edu.au?subject=Unscheduled outage') EDConnect
                 | .

                hr

                +op-utility-links

    +global_footer

    include assets/pug/_scripts.pug

  </body>
